{% extends "page_template.html" %}
{% block content %}

<form action="" method="post">
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_template">Template</label>:
    </div>
    <div class="field-field">
      <input type="text" name="templateName" id="id_template" value="{{ token.templateName }}" />
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_language">Language Code</label>:
    </div>
    <div class="field-field">
      <select name="langCode" id="id_language">
        <option value="en" selected="selected">English</option>
        <option value="de">German</option>
        <option value="el">Greek</option>
      </select>
    </div>
  </div>
  
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_token">Token Nbr</label>:
    </div>
    <div class="field-field">
      <input type="text" name="tknID" id="id_token" value="{{ token.tknID }}" />
    </div>
  </div>
  
<div class="field-wrapper">
    <div class="field-label">
      <label for="id_tknval">Token Value</label>:
    </div>
    <div class="field-field">
      <input type="text" name="tknValue" id="id_tknvalue" value="{{ token.tknValue }}" />
    </div>   
  </div>

   <br />      
  
  <input type="submit" value="Update" />&nbsp;&nbsp;&nbsp;
  <input type='button' name='Delete' value="Delete" onClick='locaton.href="/tokens/tknDelete/{{ token.key().id() }}";'>
  <a href ="/tokens/delete/{{ token.key().id() }}">Delete Token</a>
</form>
{% endblock content %}
