{% extends "page_template.html" %}
{% block content %}
<!-- <hr/>countmap: {{countmap}} -->
<h2 style="text-align: center;">Step1: Template Token Language Count</h2>
<table width = 100% border=2 cellspacing=0 cellpadding=2>
  <thead>
    <tr>
      <!-- <th>Template/Language</th> -->
      <th>Language</th>
      <th>Count</th>
      <th>Clone</th>
    </tr>
  </thead>
  <tbody>
    {% for key in countmap %}
	<tr>
	  <td><big> <a href="/tokens?langCode={{key}}">{{key}}</a> </big></td>
	  <td> {{countmap[key]}} </td>
    </tr>
    {% endfor %}	
  </tbody>
 </table>
<br/>
{% endblock content %}
